---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">
    {% if page.author %}
    {% assign author_slug = page.url | split: "/" | slice: 1, 1 %} 
    <a href="{{ site.baseurl }}/{{ author_slug }}/">{{ page.author }}</a>
    {% endif %}
    {% if page.work %}
    {% assign work_slug = page.url | split: "/" | slice: 2, 1 %} 
    - <a href="{{ site.baseurl }}/{{ author_slug }}/{{ work_slug }}/">{{ page.work }}</a>
    {% endif %}
    {% if page.translator %}
    {% assign translator_slug = page.url | split: "/" | last %} 
    - <a href="{{ site.baseurl }}/{{ author_slug }}/{{ work_slug }}/{{ translator_slug }}/">{{ page.translator }}</a>
    {% endif %}
    </h1>
  </header>

  <div class="post-content">
    <p>
    {% if page.gutenberg %}
    <a href="http://www.gutenberg.org/ebooks/{{ page.gutenberg }}" target="_blank">View this translation on Project Gutenberg</a><br/><br/>
    {% endif %}
    {% for edition in page.editions %}
    <i>{{ edition.publisher }}</i>, {{ edition.year }}<br/>
    {% if edition.asin %}
    <a href="http://www.amazon.com/dp/{{ edition.asin }}/?tag=whichtrans-20" target="_blank">View this translation on Amazon</a><br/>
    {% endif %}
    {% if edition.kindle_asin %}
    <a href="http://www.amazon.com/dp/{{ edition.kindle_asin }}/?tag=whichtrans-20" target="_blank">View the Kindle edition of this translation on Amazon</a><br/>
    {% endif %}
    {% if edition.isbn %}
    <a href="http://www.worldcat.org/isbn/{{ edition.isbn }}" target="_blank">Search for this translation in WorldCat</a></br>
    {% endif %}
    {% endfor %}
    </p>
    {{ content }}
    {% if page.excerpts %}
    <h3>Excerpts:</h3>
    <ul>
    {% for excerpt in page.excerpts %}
    <li>{{ excerpt.excerpt | newline_to_br }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if page.reviews %}
    <br/>
    <h3>Reviews:</h3>
    <ul>
      {% for review in page.reviews %}
      <li><a href="{{ review.url }}" target="_blank">“{{ review.title }}”, {{ review.author }}, <i>{{ review.venue }}</i></a>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_enable_interest_ads = "true";
  amzn_assoc_tracking_id = "whichtrans-20";
  amzn_assoc_ad_mode = "auto";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_emphasize_categories = "283155";
  amzn_assoc_linkid = "492195cd28b2a9125f40daf82794cdcc";
  amzn_assoc_fallback_mode = {"type":"search","value":"{{ page.author }} {{ page.work }} {{ page.translator }}"};
  amzn_assoc_default_category = "Books";
  amzn_assoc_rows = "1";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</article>
